<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.24">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>node {
  stage &apos;Checkout&apos;
  git &apos;https://github.com/irwin-tech/docker-pipeline-demo.git&apos;
 
  stage &apos;Docker build&apos;
  docker.build(&apos;myapp&apos;)
 
  stage &apos;Docker push&apos;
  docker.withRegistry(&apos;https://xxxxxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com&apos;, &apos;ecr:us-east-1:ecr-access&apos;) {
    docker.image(&apos;myapp&apos;).push(&apos;latest&apos;)
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>